 /* create by seneth 1/2/2024 */

.bottom-sec{

    float: inline-end;
    margin-top: 60px;
 
 }
 
 
 .create_profile_btn{
 
     color: white;
     background-color: #f09c0b;
     padding: 10px;
     border-radius: 10px;
     display: flex;
     align-items: center;
        
 }
 
 .create_profile_btn:hover{
 
     background-color: #eb9402;
 }
 
 /* table */

 .action-icons{

    display: flex;
    gap:2px;
    
   
 }
 
.icon-dashbord:hover{

    color: #eb9402;
    transform: scale(1.2);
}

 /* add user section  */
 
  .companies_section{
 
     background-color: #ffffff;
     padding: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
 }
 
 .form-group-cp {
     display: grid;
     grid-template-columns: 1fr 3fr; /* Adjust the column widths as needed */
     gap: 10px; /* Adjust the gap between label and input field */
     margin-left: 10px;
     margin-top: 10px;
   }
   
   label {
     font-weight: bold;
     align-self: center;
   }
   
   .input-field {
     width: 100%;
     padding: 4px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     font-size: 16px;
   }
 
 .add_user_section{

    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    height: auto;
 }


/* add user bottom section */


.add-user-form {
    display: flex;
    flex-direction: column;
  }
  
  .column {
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  


  .adduser-input {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px; /* Adjusted padding value */
    box-sizing: border-box;
  }

  /* clour and hover part */

  .btn-adduser{
    background-color: #FAA61A;
    color: #fff;
  }
  
 .btn-adduser:hover{
    background-color: #eb9402;

 }
  
.btn-adduser-cansel{

    background-color: #ED4F1D;
    color: #fff;

}

.btn-adduser-cansel:hover{

    background-color: #df481a;

}

.btn-adduser-generate{

    background-color: #898989;
    color: #fff;
}

.btn-adduser-generate:hover{
    background-color: #7b7b7b;
}

  .btn-adduser,
  .btn-adduser-cansel,
  .btn-adduser-generate {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 100%; /* Full width on mobile */
    margin-bottom: 10px; /* Space between buttons on mobile */
  }
  
  .btn-action {
    margin-top: 23px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  /* Media Query for Mobile Devices */
  @media only screen and (min-width: 600px) {
    .add-user-form {
      flex-direction: row;
    }
  
    .column {
      flex: 1;
    }
  
    .btn-adduser,
    .btn-adduser-cansel
   {
      width: auto;
    }


    .btn-adduser-generate {
        width: 50%;
      }
  }


  /* delete model box */


.delete-confirmation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delete-confirmation-box {
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: 25%;
  }
  
  .delete-confirmation-box h2 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #353535;
  }
  
  .button-container {
    margin-top: 50px;
  }
  
  .delete-button {
    background: #ED4F1D;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .delete-button:hover{

    background: #d44418;
    cursor: pointer;
  }
  
  .cancel-button {
    background: #858585;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .cancel-button:hover{

    background: #6d6d6d;
  }

  /* logout model box */

  .Logout-button-dashbord:hover{

    background: #eb9402;
    cursor: pointer;
  }
  

  .Logout-cancel-button-dashbord:hover{

    background: #d44418;
  }

/* 
  logout toast massage */

  .logout-toast-container {
    top: 50%;
    transform: translateY(-50%);
   
  }
  

   /* Media query for smaller screens */
   @media screen and (max-width: 768px) {
    .delete-confirmation-box {
      width: 80%; /* Adjust the width for smaller screens */
      margin-left: 1%;
    }


    .logout-toast-container {
    top: auto; 
    bottom: -50px; 
    transform: none; 
    }
    
  
  }


  .custom-row-height .p-datatable-tbody > tr {
    font-size: 15px;
  }