.two-column-layout {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    flex: 1;
    clip-path: polygon(0% 0%, 100.1% 0%, 86.2% 100.3%, 0% 100%);
    background-color: #FAA61A;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .brand-image-container img {
    
    width: 250px;
    height: 335px;
    flex-shrink: 0;
  }
  

  .right-side {
    flex: 1;
    /* background-color: rgb(185, 185, 185); */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
.login-form {
    max-width: 500px;
    width: 100%;
    /* background-color: #fff; */
    padding: 20px;
    /* border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .formheader{

    margin-bottom: 30px;
    /* background-color: aquamarine; */
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  /* .label {
    display: block;
    margin-bottom: 5px;
    font-size: large;
  }
   */

  .forminput {
    width: 100%;
    height: 50px;
    padding: 8px;
    border: 2px solid #ececec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
  }
  

  /* p-4 w-full text-xl rounded-lg */
  .loginbtn{

    background-color: #FAA61A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    height: 50px;
    width: 100%;
    padding: 4px;
    border-radius: 10px;
    font-size: 20px;

  }

  :hover.loginbtn{

    background-color: #f09c0b;
  }

 

  /*forgot page css */

  .back-link{

    display: flex;
    align-items: center;
    margin-top: 15px;
    
  }

:hover.back-link{
  
  color: black;
  
}

/* Footer styles */
/* .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
} */


/* Existing CSS styles */


/* Responsive layout for tablet screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .two-column-layout {
    flex-direction: column;
    background-color: #FAA61A;
  }

  .left-side {
    display: none; /* Hide left side on tablet */
  }

  .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .login-form {
    background-color: #fff; /* White background for the form on tablet */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px; /* Adjust the margin based on your design preference */
  }

  .brand-image-container img {
    /* Additional styles for image in the form for tablet views */
    width: 100%;
    height: auto;
    margin-top: 20px; /* Adjust the margin based on your design preference */
  }
}

/* Responsive layout for mobile screens */
@media (max-width: 767px) {


  
  .two-column-layout {
    flex-direction: column;
    background-color: #FAA61A;
  }

  .left-side {
    display: none; /* Hide left side on mobile */
  }

  .right-side {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .login-form {
    background-color: #fff; /* White background for the form on mobile */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px; /* Adjust the margin based on your design preference */
  }

  .brand-image-container img {
    /* Additional styles for image in the form for mobile views */
    width: 100%;
    height: auto;
    margin-top: 20px; /* Adjust the margin based on your design preference */
  }
}


